
.floorTitle {
    color: grey;
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0
}

.floorSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
}


@media (min-width: 480px) {
    .floorTitle {
        font-size: 2.5em;
    }
}


