/*#0be881*/
/*.btn-primary {*/
/*    color: white !important;*/
/*}*/

.Item {
    text-align: center;

}

.Item:hover {
    background-color: #0be881;
    color: Red;
    cursor: pointer;
}

@media (min-width: 1200px) {

    .Group {
        margin-right: 2em;
    }

}
