.Jumbotron {
    background-color: #0be881;
}

.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Title {
    color:gray;
    font-size: 5vw;
}


@media (min-width: 1200px)  {

    .Title {
        font-size: 4vw;
    }
}
