
.Room {
    position: relative;
    width: 300px;
    height: 300px;
    border: 5px solid #C8C8C8;
    background-color: #ece7e7;
}

.Title {
    color:#0be881;
    margin: 0 auto
}

.Sound{
    position: absolute;
    top: 18px;
    left: 240px;
}

.Curtains {
    position: absolute;
    top: 100px;
    left: -5px;
    width: 45px;
    height: 250px;
    border-right:solid 5px #C8C8C8;
    border-top: solid 5px #C8C8C8;
    border-bottom: solid 5px #C8C8C8;
}

@media (min-width: 480px) {

    .Room {
        width: 500px;
        height: 500px;
    }

    .Title {
        color:#0be881;
        margin: 0 auto;
        font-size: 48px;

    }


    .Sound{
        position: absolute;
        top: 20px;
        left: 400px;
    }
}
