.login {
    background-image: url("../../assets/images/domotica.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    overflow-x: hidden ;
    height: 100vh;
    width: 100vw;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
}

.card {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #696969;
    width: 50vw;
}




@media (min-width: 1200px) {
    .card {
        width: 30vw
    }
}

.card-body {

    background-color: #50c878;
}


