.ErrorMessage {
    display: inline-block;
    background: #50c878;
    height: 100vh;
    width: 100vw;
    margin: 0;
    color: white;
}

.Title{
    margin: .8em 3rem;
    font: 4em Roboto;
}
.Description{
    display: inline-block;
    margin: .2em 3rem;
    font: 2em Roboto;
}
