

.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 80%;
    border: 1px solid grey;
    box-shadow: 5px 5px 5px grey;
    padding: 16px;
    left: 10%;
    top:30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px){

    .Modal {
        width: 600px;
        left: calc(50% - 300px);
    }
}




